# StoryTeller Ask-proj-dVbdSI3gPRt91U36m9lfoQnoRjyxMsk8KI2p7Vjs4YJSdE8ZQIpWczgeZ9cFDcsrTQPJGEOxEPT3BlbkFJP3f8zD5fdBxZd87datGb0_lzDhsFqWtumH_AslUL6Vr0pVXRi-ibyZm2t7StiThtKX2pv2f3AAhe API server port (default: 5001)
# API_PORT=5001

# OpenAI API key (required)
OPENAI_API_KEY=your_api_key_here

# Firebase project ID for authentication
FIREBASE_PROJECT_ID=your_firebase_project_id